@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Chandler Bruce";
}


<body>
    <!-- Home page text desription -->
    <p>What I hope to get out of IS 413...</p>
    <div>
        <p>
            I am very excited for this IS 413 class. I enjoy programming at almost every level. I find it to be challenging yet enjoyable. I am eager to learn more about ASP.NET as well as C# and React.
            I don't mind spending my time learning rigorous material and so I very much look forward to what is to come.
            I work as a Web Developer right now and I feel that this class will help me with my current position as well as my future career.
        </p>
    </div>
    <br />
    <p class="jobstitle"> Top 3 Potential Jobs:</p>
    <ol class="jobs">
        <li>Software Engineer</li>
        <li>Data Scientist</li>
        <li>Full Stack Developer</li>
    </ol>

    <div>
        <!-- Home page Image -->
        <h3 class="center">This is my wife Anne and I. We enjoy traveling together.</h3>
        <img src="~/img/Anne and I.jpg" width="500" height="600" />
    </div>

</body>
